{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Achievements</h1>
    </div>
    {% for i in object_list %}
        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="{{ i.image.url }}" />
                <div class="card-block" style="margin:1em;">
                    <h4 class="card-title">
                        {% for user in i.users.all %}
                            {% if request.user == user %}
                                <i style="color:green;" class="far fa-check-circle"></i>
                            {% endif %}
                        {% endfor %}
                        {{i.title}}
                    </h4>
                    <p class="card-text">{{i.description}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}