{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{% block meta-description %} {% endblock meta-description %}">
    <meta name="author" content="Cameron Pickle">
    <meta property="fb:admins" content="1230468748"/>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <title>{% block head_title %}Glenmore Trek{% endblock head_title %}</title>
    <style>
      {% block css %}
      {% endblock css %}
    </style>
    {% include 'head_css.html' %}
  </head>
  <body>
    {% include 'navbar.html' %}

    {% if messages %}
      <div class="container">
        <div class="col-md-4 col-md-offset-4">
          {% for message in messages %}
            <div style="margin-top:30px; text-align:center;" class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% block jumbotron %}
    {% endblock jumbotron %}

    <div class="container">
      {% block content %}
      {% endblock content %}

      {% block bottom_content %}
      {% endblock bottom_content %}

      {% include 'footer.html' %}
    </div> <!-- /container -->

    {% include 'javascript.html' %}
    <script>
      $(document).ready(function(){
        {% block jquery %}
        {% endblock jquery %}
      });
    </script>
  </body>
</html>
