<footer id="give-me-room">
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <p class="lead footer_border">Social Media</p>
      <a target="_blank" href="https://www.facebook.com/glenmooryouth/"><p><i class="fa fa-facebook-official"></i> Facebook</p></a>
      <a target="_blank" href="https://www.instagram.com/"><p><i class="fa fa-instagram"></i> Instagram</p></a>
      <a target="_blank" href="https://twitter.com/"><p class="last"><i class="fa fa-twitter"></i> Twitter</p></a>
    </div>
  </div>
</footer>